/* Style général du formulaire */
form#page,
form#page2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form#page input[type='text'],
form#page input[type='number'],
form#page input[type='email'],
form#page input[type='date'],
form#page input[type='time'],
form#page select {
    width: calc(100% - 20px); /* Les champs de saisie occupent toute la largeur */
    padding: 10px;
    margin-bottom: 10px; /* Ajoutez un espacement entre les champs */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form#page2 input[type='text'],
form#page2 input[type='number'],
form#page2 input[type='email'],
form#page2 input[type='date'],
form#page2 input[type='time'],
form#page2 select {
    width: calc(100% - 20px); /* Les champs de saisie occupent toute la largeur */
    padding: 10px;
    margin-bottom: 10px; /* Ajoutez un espacement entre les champs */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Style des titres */
h3 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: darkred;
}

.supp-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.supp-button:hover {
    background-color: #b02a37;
}

body {
    background-color: #f4f4f4;
}
