body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.form {
    max-width: 600px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

h2{
    text-align: center;
    text-decoration : underline;
}
.intervention-item {
    list-style: none;
    padding: 20px;
    text-align: center; /* Centre les interventions */
    max-width: 450px; /* Définir une largeur maximale pour centrer la liste */
    margin: 5% auto; /* Ajouter une marge automatique pour centrer */
}

.intervention-item li {
    margin-bottom: 20px; /* Espacement de 20px entre les interventions */
    padding: 10px;
    display: flex;
    align-items: center;
}

.intervention-item li button {
    background-color: #007BFF;
    color: white;
    padding: 8px 12px; /* Ajusté pour un meilleur espacement */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 150px; /* Ajouté un espace de 20px à gauche */
}

.intervention-item li button:hover {
    background-color: #0056b3;
}